@import "../dist/resolution-function";

body{
  font-size: to-rem(20);
}
h1{
  font-size: to-rem(20);
}

.body-text{
  background: #eee;
  border: 1px solid #999;
  width:75%;
  padding:to-rem(20);
  margin:to-rem(50) auto 0;
}
.f18{
  font-size: to-rem(18);
}

.f16{
  font-size: to-rem(16);
}


.f14{
  font-size: to-rem(14);
}

.f12{
  font-size: to-rem(12);
}


.f10{
  font-size: to-rem(10);
}
